
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: Inter, sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
  color:rgb(42, 160, 256);
}

hr {
  margin-top: -20px;
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: rgb(66, 145, 152);
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1220px;
  margin-top: 30px;
  margin-bottom: 90px;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  color: white;
  text-align: center;
}

.alwaysShown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
  width: 90%;
  max-width: 1230px;
  margin-bottom: 30px;
}

.paraButton {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 64.5%;
  max-width: 840px;
}

#seeButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 45px;
  color: #FFFFFF;

  background: rgb(66, 145, 152);
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

#paragraph1 {
  margin-bottom: 15px;
}
#paragraph2 {
  margin-bottom: 25px;
}
#hiddenP {
  max-width: 525px;
  margin-bottom: 40px;
}

img {
  margin-bottom: 10px;
}

.imgCap {
  display: flex;
  flex-direction: column;
  width: 370px;
  font-weight: normal;
  font-size: 12px;
}

.hidden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1270px;
}
.hiddenRight {
  display: flex;
  flex-direction: column;
  width: 43%;
  margin-top: 55px;
}
.chart {
  width: 40%;
  height: 350px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#changeMonth {
  font-weight: 600;
  color: rgb(66, 145, 152);
  margin-bottom: 15px;
}
.dateText {
  display: flex;
  align-items: center;
  background-color: white;
  width: 250px;
  height: 10px;
  color: gray;
  border-color: gray;
  border-style: solid; 
  border-width: 1px;
  padding: 20px 20px;
  margin-bottom: 10px;
}
.month-year-picker {
  background-color: white;
  margin: -10px 30px 0px 0px !important;
}
.year-picker {
  margin: 0px;
}
.month-picker {
  margin: 0px;
}

@media screen and (max-width: 900px) {
  .month-year-picker {
    position: absolute;
    z-index: 9;
  }
  #stripe {
    height: 130px;
  } 
  .header {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 140px;
  }
  .alwaysShown {
    flex-direction: column-reverse;
    align-items: center;
    width: 75%;
    gap: 0px;
    margin-bottom: 50px;
  }
  img {
  }
  .imgCap {
    width: 85%;
    margin-bottom: 50px;
  }
  .paraButton {
    width: 85%;
  }

  .hidden{
    position: relative;
    width: 75%;
    height: 825px;
    flex-direction: column-reverse;
    align-items: center;
  }
  #hiddenP {
    width: 100%;
    max-width: none;
  }
  .chart {
    width: 90%;
    height: 400px;
    margin-top: 0px;
  }
  .hiddenRight {
    width: 84%;
  }
  .month-year-picker {
    margin-left: -10px !important; 
  }
}

@media screen and (max-width: 480px) {
  #stripe {
    height: 145px;
  }
  .header {
    text-align: center;
    max-width: 280px;
    margin-top: 30px;
    margin-bottom: 130px;
  }
  .alwaysShown {
    margin-bottom: 60px;
    width: 80%;
  }
  .imgCap {
    width: 98%;
    margin-bottom: 30px;
  }
  .paraButton {
    width: 98%;
  }
  .hidden{
    width: 77%;
    height: 640px;
    flex-direction: column-reverse;
    align-items: center;
  }
  #hiddenP {
    width: 98%;
    height: 90%;
  }
  .chart {
    margin-top: 0px;
    width: 100%;
    max-height: 280px;
  }
  .hiddenRight {
    width: 98%;
    margin-top: 0px;
  }
  .month-year-picker {
    margin-left: -14% !important; 
  }
}