/* // add all CSS here! */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family: Inter, sans-serif;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color:rgb(42, 160, 256);
}

hr {
  margin-top: -20px;
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: rgb(66, 145, 152);
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1220px;
  margin-top: 30px;
  margin-bottom: 90px;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  color: white;
}

.alwaysShown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  gap: 2%;
  max-width: 1220px;
  margin-bottom: 80px;
}

.paraButton {
  font-size: 16px;
  width: 60.5%;
  max-width: 840px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 45px;
  color: #FFFFFF;

  background: rgb(66, 145, 152);
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

#paragraph1 {
  margin-bottom: 15px;
}
#paragraph2 {
  margin-bottom: 20px;
}
#hiddenP {
  max-width: 525px;
  margin-bottom: 40px;
}

img {
  width: 370px;
}

.imgCap {
  width: 370px;
  font-weight: regular;
  font-size: 12px;
}

.hidden {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1220px;
}
.hiddenRight {
  display: flex;
  flex-direction: column;
}
.chart {
  width: 500px;
  height: 300px;
  background: pink;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#changeMonth {
  font-weight: 600;
  color: rgb(66, 145, 152);
  margin-bottom: 15px;
}
.dateText {
  display: flex;
  align-items: center;
  width: 235px;
  height: 10px;
  background: blue;
  color: white;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.dateBox {
  width: 125px;
  height: 110px;
  background: green;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 900px) {
  .header {
    justify-content: center;
  }
}